.carditem {
    display: flex;
    gap: 1rem;
    width: 65%;
    height: 10vw;
    align-items: center;
    margin: 0;
    color: #fff;
    background-color: #016A89;
    margin-bottom: 40px;
    font-family: 'Ostrich Sans Rounded', sans-serif;
    font-weight: 900;
    border-radius: 20px;

    @media (max-width: 900px) {
        width: 70%;
        height: auto;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 0;
    }
}

.datesection {
    width: 24%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-size: 1.8vw;
    line-height: 48px;
    color: rgb(255, 255, 255);
    font-family: 'Walrus', sans-serif;


    @media (max-width: 900px) {
        width: 100%;
        height: auto;
        border: 0px;
        font-size: 1rem;
    }
}


.locationsection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: flex-start;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Roboto Mono';

    @media (max-width: 900px) {
        width: 100%;
        height: auto;
        margin-bottom: 8px;
        border: 0px;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.city {
    font-size: 4vw;
    line-height: 1;
    white-space: nowrap; 
    font-family: 'Bebas Neue';

    @media (max-width: 900px) {
        font-size: 1.5rem;
    }

}

.venue {
    font-size: 2vw;
    line-height: 1;

    @media (max-width: 900px) {
        font-size: 1rem;
    }
}

.buttonsection {
    width: 26%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    @media (max-width: 900px) {
        width: 100%;
        margin-bottom: 1rem;
    }
    button,
    a {
        width: 58%;
        height: 4vw;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 1.2vw;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        background-color: rgb(255, 213, 77);
        font-family: 'Roboto Mono';
    
        @media (max-width: 900px) {
            width: 40%;
            font-size: 1rem;
            height: 45px
        }
    }
    button {
        background-color: #fff
    }
}


.available {
    background-color: green !important;
    color: #fff !important;
}

.unavailable {
    background-color: red !important;
    color: #000 !important;
}
