h1 {
    font-size: 4rem;
    color: #fff;
    margin: 10px;

    @media (max-width: 900px) {
        font-size: 2rem;
    }
}

img[alt="Banner"] {
    @media (max-width: 450px) {
        object-fit: cover;
        height: 25vh !important;
    }
}