footer {
    width: 100%;
    height: 12vh;
    padding: 0px 5vw;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #030225;
    align-items: center;
}

footer>img {
    width: 7vw;

    @media(max-width: 450px) {
        width: auto;
        height: 11vw;
    }
}

svg {
    width: 2vw;
    margin-left: 34px;
    cursor: pointer;
}